<html>
	<h1 align = "center">Make Screen</h1>
	<body>
		<div align="center">
			<form action="/action_page.php">
			Life <input type="text" name="FirstName" value="Mickey">
			X <input type="text" name="LastName" value="Mouse">
			Y <input type="text" name="LastName" value="Mouse">
			</form>
		</div>

		<br>

		<div align="center">
		<canvas id="canvas1" width="600" height="50" style="border:2px solid #000000;">
		</canvas>
		</div>

		<br>
		<br>
		
		<div align="center">
		<canvas id="canvas1" width="600" height="400" style="border:2px solid #000000;">
		</canvas>
		</div>
     
		<br>

		<div align="center">
		<button type="button">Save</button>
		<button type="button"><a href="test.html">Test</a></button>
		</div>
	</body>
</html>