<!DOCTYPE html>

<html>
	<head>
	  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	  <script src="js/bootstrap.js"></script>
	</head>


<body>
	<div class = "container">
		<div class = "jumbotron">
			<h1> Play Screen </h1>
		</div>
	</div>

	<div class="container">
	  <div class="well">
	  	<h2>Status Bar</h2>
	  </div>
	</div>

	<div class="well">
	  	<div id="grid">
		    <div id="cell1">
		    	 <select id="select00">
		    	 	 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell2">
		    	<select id="select01">
	    	         <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell3">
		    	<select id="select02">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell4">
		    	<select id="select10">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell5">
		    	<select id="select11">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell6">
		    	<select id="select12">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell7">
		    	<select id="select20">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell8">
		    	<select id="select21">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell9">
		    	<select id="select22">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		</div>

	<div class = "container" style="margin-top: 40px; text-align: center;">
			<a href="index.html"><button type="button" class ="btn btn-primary btn-lg" style="width: 40%">Quit</button></a>
	</div>
</body>
</html>