<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

		<div id="grid">
		    <div id="cell1">
		    	 <select id="select1">
		    	 	 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell2">
		    	<select id="select2">
	    	         <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell3">
		    	<select id="select3">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell4">
		    	<select id="select4">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell5">
		    	<select id="select5">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell6">
		    	<select id="select6">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell7">
		    	<select id="select7">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell8">
		    	<select id="select8">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell9">
		    	<select id="select9">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		</div>
		
		<button type="button" id="button">Save</button>

		<script src="lib/jquery/dist/jquery.js"></script>
		<script src="lib/custom/script_test_make.js"></script>
	</body>
</html>