<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

		<div id="grid">
		    <div id="cell1">
		    	 <div id="select00">
		    	 </div>
		    </div>
		    <div id="cell2">
		    	 <div id="select01">
		    	 </div>
		    </div>
		    <div id="cell3">
		         <div id="select02">
		    	 </div>
		    </div>
		    <div id="cell4">
		         <div id="select10">
		    	 </div>
		    </div>
		    <div id="cell5">
		         <div id="select11">
		    	 </div>
		    </div>
		    <div id="cell6">
		         <div id="select12">
		    	 </div>
		    </div>
		    <div id="cell7">
		         <div id="select20">
		    	 </div>
		    </div>
		    <div id="cell8">
		         <div id="select21">
		    	 </div>
		    </div>
		    <div id="cell9">
		         <div id="select22">
		    	 </div>
		    </div>
		
		<button type="button" id="button">Save</button>

		<script src="lib/jquery/dist/jquery.js"></script>
		<script src="lib/custom/script_test_play.js"></script>
	</body>
</html>