body{
    background-color:#000000;
}  

.rotating-box{
    width:120px;
    height:120px;
    margin:200px auto;
    perspective:800px;
}

.single-rb{
    width:400px;
    animation: rotate 15s linear infinite;
    transform-style: preserve-3d;
    margin-top:20px;
}
.single-rb img{
    width:400px;
    height:400px;
}

.single-rb div{
    position:absolute;
    width:400px;
    height:400px;
}
.front-side{
    transform: translateZ(200px);
}
.back-side{
    transform: rotateY(180deg)
    translateZ(200px);
}
.left-side{
    transform:rotateY(-90deg)
    translateX(-200px);
    transform-origin: left;
}
.right-side{
    transform:rotateY(90deg)
    translateX(200px);
    transform-origin: right;
}
.top-side{
    transform:rotateX(-90deg)
    translateY(-200px);
    transform-origin: top;
}
.bottom-side{
    transform:rotateX(90deg)
    translateY(200px);
    transform-origin: bottom;
}

@keyframes rotate{
    0%{transform:rotateY(0);}
    100%{transform:rotateY(360deg);}
}
