<!DOCTYPE html>

<html>
	<head>
	  <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
	  <link rel="stylesheet" type="text/css" href="/css/style_grid.css">
	</head>


<body>
	<div class = "container">
		<div class = "jumbotron">
			<h1> Make Screen </h1>
		</div>
	</div>

	<div class="container">
		<div class="input-group">
	      <span class="input-group-addon" >Map Name</span>
	      <input type="text" class="form-control" name="msg" id="text_map_name">
	      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" id="button">Save Map</button>
          </span>
	     </div>
	</div>

	<div class="container">
	  <h2>Game Map</h2>
	  <div class="well">
	  	<div id="grid">
		    <div id="cell1">
		    	 <select id="select00">
		    	 	 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell2">
		    	<select id="select01">
	    	         <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell3">
		    	<select id="select02">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell4">
		    	<select id="select10">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell5">
		    	<select id="select11">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell6">
		    	<select id="select12">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>

		    <div id="cell7">
		    	<select id="select20">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell8">
		    	<select id="select21">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		    <div id="cell9">
		    	<select id="select22">
		    		 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
		</div>
	  </div>
	</div>
			
		</div>
	</div>

	</div>
	
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/custom/script_test_make.js"></script>
</body>

</html>