<!DOCTYPE html>

<html>
	<head>
		 <title>Create Map</title>
	  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	  <link rel="stylesheet" type="text/css" href="/css/style_grid.css">
	  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	    <script src="js/Youindex.js"></script>
		 <title><!--Dungeon --> </title>
	  <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="social">
	
			<link rel="stylesheet" type="text/css" href="css/style11.css">
	
	<link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	</head>


<body>
		<header>
		<nav >
			<div class="row clearfix">
			
				<img src="image/logo3.png" class="logo">
				<ul class="main-nav animated bounceIn " id="check-class"> 
					<li><a href="/index"><button type="button" class ="btn btn-noob">Home</button></a></li>
					<li><a href="/create2"><button type="button" class ="btn btn-noob">Game Instructions</button></a></li>	
					<li><a href="/create1"><button type="button" class ="btn btn-noob">Contact Us</button></a></li>
				</ul>
			</div>
		</nav>
		
	</header>
	<br></br>
	<div class = "container">
		<div class = "jumbotron">
			<h1> Make Screen </h1>
		</div>
	</div>
    
	<div class="container">
		<div class="input-group">
			
          <span class="input-group-addon" >Map Size</span>
	      <input  type="text" class="form-control" id="map_size">
	      <span class="input-group-addon" >Map Name</span>
	      <input  type="text" class="form-control"  id="map_name">
         
	      <span class="input-group-btn">
          <button class="btn btn-primary" type="button"  onclick="showMapFunction()">Show Map</button>
          <br>
          <button class="btn btn-primary" type="button"  onclick="saveMapFunction()" >Save Map</button>
          </span>
    
	     </div>
	     
	</div>
	

	

	<div class="container">
	  <h2>Game Map</h2>
	  
	  <div id="mapDiv" class="fix">
	  	<div id="grid" name= "mapGrid">
	  	
	  	
	  		<% for(var i=0; i<9; i++) 
	  		{ %>
     				 <div id="<%="cell"+i%>" >
		    	 <select id="select">
		    	 	 <option value="e">Empty</option>
		 			 <option value="s">Start</option>
		 			 <option value="f">Finish</option>
					 <option value="b">Block</option>
				 </select>
		    </div>
      				<% } %>
		    
		</div>
	  </div>
	</div>
	
	
	<script>
	
	document.getElementById("mapDiv").style.visibility = "hidden"; 
	

</script>
			
		</div>
	</div>

	</div>
	
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/custom/script_test_make.js"></script>
</body>

</html>