<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	    <script src="js/Youindex.js"></script>
		 <title><!--Dungeon --> </title>
	  <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
	  
	
			<link rel="stylesheet" type="text/css" href="css/style111.css">
	
	<link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

	</head>


<body>
	
	<header>
		<nav class="navbar-fixed-top">
			<div class="row clearfix">
			
				<img src="image/logo3.png" class="logo">
				<ul class="main-nav animated bounceIn " id="check-class"> 
					<li><a href="/index"><button type="button" class ="btn btn-noob">Home</button></a></li>
					<li><a href="/create2"><button type="button" class ="btn btn-noob">Game Instructions</button></a></li>	
					<li><a href="/create1"><button type="button" class ="btn btn-noob">Contact Us</button></a></li>
				</ul>
			</div>
		</nav>
		
	</header>
	<br></br>
	<div class="container">
		<div class="circle"></div>
		<p>
			Hello there! For playing this this you don't need to download it. It's an online game.
			There will be stsrting point and an end point with some blocks. You have to go through the empty blocks 
			and have to reah the end point. If you can you<span> WIN!</span>. 
			<br></br>
			Now you have to click on <span class="Colorchange">Lets Play</span> button. There will be some given map lists. You can choose from there.
			Or, you can make your own map for that you have to go back on home page and will have to click on <span class="Colorchange">Make</span> 
			button. Map size will always be fixed. You can only fix the start point and as well as end point. 
		</p>
	</div>
	<div class="icon-bar">
  <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="https://www.google.com/" class="google"><i class="fa fa-google"></i></a> 
  
</div>
</body>