<!DOCTYPE html>

<html>
	<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="/css/style_grid.css">
	</head>


<body>
	<div class = "container">
		<div class = "jumbotron">
			<h1> Play Screen </h1>
		</div>
	</div>

	<div class="container">
	  <div class="well">
	  	<h2>Status Bar</h2>
	  </div>
	</div>

	<div id="grid">
		    <div id="cell1">
		    	 <div id="select00">
		    	 </div>
		    </div>
		    <div id="cell2">
		    	 <div id="select01">
		    	 </div>
		    </div>
		    <div id="cell3">
		         <div id="select02">
		    	 </div>
		    </div>
		    <div id="cell4">
		         <div id="select10">
		    	 </div>
		    </div>
		    <div id="cell5">
		         <div id="select11">
		    	 </div>
		    </div>
		    <div id="cell6">
		         <div id="select12">
		    	 </div>
		    </div>
		    <div id="cell7">
		         <div id="select20">
		    	 </div>
		    </div>
		    <div id="cell8">
		         <div id="select21">
		    	 </div>
		    </div>
		    <div id="cell9">
		         <div id="select22">
		    	 </div>
		    </div>
 	</div>
	
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/custom/script_test_play.js"></script>
</body>
</html>